body {
    font-family: Arial, sans-serif;
    width: 150px;
    text-align: center;
    padding: 5px;
    background-color: black;
  }
  button {
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
  }
  .text {
    color: aliceblue;
  }
  select {
    width: 100%;
    padding: 4px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  label {
    margin-top: 20px;
    border-radius: 10px;
  }

  #language {
    margin-top: 10px;
  }

  #label {
    margin-top: 10px;
    border-radius: 5px;
  }

  .brightness img:hover {
      opacity: .5;
  }